@tailwind base;
@tailwind components;
@tailwind utilities;
/* .hero-header {
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 60%), url('./Assets/images.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
} */